<%- include('Partials/head')%>
    <title>Airbnb</title>
    <link rel="stylesheet" href="user.css"/>
</head>
<body>
    <%- include('Partials/navbar') %>
    <center><h1>Wellcome in Airbnb</h1></center>
    <a href="/add-home">Add Home</a>
    
    <div class="reg">
        <h1>Our Registered Homes</h1>
        <h1><%= registration %></h1>
    </div>
</body>
</html>