<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-DB Association</title>
    <link rel="stylesheet" type="text/css" href="Home.css"/>
</head>
<body>
    <nav>
        <h1>DB-Association</h1>
        <div class="sign">
            <img src="/images/user.png"/>
            <a href="">Username</a>
        </div>
    </nav>
    <div class="hero">
        <h1>Discover DB-Association<br>for More Fun</h1>
        <div class="btn">
            <a href="/signUp">Sign-Up</a>
            <a href="/signin">Sign-In</a>
        </div>
    </div>
</body>
</html>