body
{
    background-color: black;
}
h1
{
    color:white;
}
a
{
    color:lime;
    font-size:20px ;
}
div
{
    margin-top:50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}