<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Blog</title>
    <link rel="stylesheet" href="Login.css">
</head>
<body>
    <main>
        <div  class="main">
        <h1>Wellcome,Arslan</h1>
            <form action="/sub" method="post" enctype="multipart/form-data">
                <input type="text" name="title" placeholder="Enter Title">
                <input type="file" id="button" name="file">
                <textarea name="des" id="" placeholder="Enter Description" ></textarea>
                <input type="submit"    class="btn" value="Publish Blog">
            </form>
        </div>
    </main> 
</body>
</html>