<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arslan | Mongodb</title>
    <link rel="stylesheet" type="text/css" href="index.css"/>
</head>
<body>
    <div class="head">
    <h1>Let's Create User</h1>
    <a class="bb" href="/read">All Users</a>
    </div>
    <div class="form" >
        <form class="box" action="/submit" method="post">
            <input type="text" name="username" placeholder="Enter Username"/>
            <input type="text" name="email" placeholder="Enter Email"/>
            <input type="text" name="Image" placeholder="Enter ImageURL"/>
            <input  id="btn" type="submit" value="Create User">
        </form>
    </div>
</body>
</html>