<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Your Account</title>
    <link rel="stylesheet" type="text/css" href="sign.css"/>
</head>
<body>
    <center><h1>Login your Account</h1></center>
    <div class="box">
        <form action="/login" method="post">
            <input type="text" name="email" placeholder="Enter Email"/>
            <input type="text" name="password" placeholder="Enter Password"/>
            <input type="submit" value="Sign-Up" id="btn"/>
        </form>
    </div>
</body>
</html>