<%- include('partials/header') %>
</head>
<body>
    <div>
        <form action="/add-home" method="POST" >
            <input type="text" placeholder="Enter name" name="Name"/>
            <input type="submit" ></input>
        </form>
    </div>
</body>
</html>