<%- include('partials/header.ejs') %>
</head>
<body>
    <nav>
        <img src ='images/stripe.png'/>
        <div id="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/add-home">Add  Product</a></li>
                <li><a href="">Products</a></li>
            </ul>
        </div>
    </nav>
    
</body>
</html>