<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drive Projects</title>
    <link rel="stylesheet" type="text/css" href="Home.css"/>
</head>
<body>
    <center><h1>Wellcome:Arslan Sherazi</h1></center>
    <div>
        <a href="/user">Add User</a>
        <a href="/Login">Login</a>
    </div>
</body>
</html>