<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Your Account</title>
    <link rel="stylesheet" type="text/css" href="User.css"/>
</head>
<body>
    <div class="box">

   
    <form action="/Login" method="POST">
        <label>Username</label>
        <input class="textbox" type="text" placeholder="Enter Your Username" name="username"/>
        <label>Password</label>
        <input class="textbox" type="text" placeholder="Enter Your Password" name="Password"/>
        <input type="submit" class="btn"/>
   </form>
    </div>
</body>
</html>