<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth in Node js</title>
    <link rel="stylesheet" type="text/css" href="Auth.css"/>
</head>
<body>
    <h1>Create User</h1>
    <div class="form"> 
        <form action="/Submit" method="post">
            <input  type="text" placeholder="Enter Username" name="username"/>
            <input  type="email" placeholder="Enter Email" name="email"/>
            <input  type="text" placeholder="Enter Password" name="password"/>
            <input type="submit" value="Add User" class="btn"/>
        </form>
    </div>
</body>
</html>